.preloader {
    margin: auto;
  }

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.consists {
    display: flex;
    min-width: 516px;
    justify-content: space-between;
}

.consist {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.name_consists {
    color: #8585AD;
    text-align: center;
}

.value {
    composes: name_consists;
}