.preloader {
  margin: auto;
}

.section {
  width: 600px;
  margin: 0 auto;
}

.tab {
  display: flex;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.prices {
  display: flex;
  align-items: center;
}

.container {
  height: 600px;
  overflow-y: scroll;
}

.name {
  max-width: 272px;
  text-align: center;
}

.counter {
  visibility:hidden;
  opacity:0;
  overflow-y: hidden;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

.counter_active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.link {
  text-decoration: none;
  color: #fff;
}